{{> header }}
{{#if førstegangsbehandling}}
# NAV has turned down your application for a lump-sum grant
{{else}}
# NAV has reversed its decision regarding a lump-sum grant
{{/if}}
{{>brukerdetaljer_en}}
{{#if avslagMedlemskap}}
    {{#eq avslagMedlemskap "IKKE_MEDL_FØR_STP"}}
You are not entitled to a lump-sum grant because you are not a member of the National Insurance Scheme.
    {{/eq}}
    {{#eq avslagMedlemskap "IKKE_MEDL_ETTER_FØDSEL"}}
You are not entitled to a lump-sum grant because you were not a member of the National Insurance Scheme at the time your {{#eq antallBarn 1}}child was{{else}}children were{{/eq}} born.
    {{/eq}}
    {{#eq avslagMedlemskap  "IKKE_MEDL_ETTER_OVERTAGELSE"}}
You are not entitled to a lump-sum grant because you were not a member of the National Insurance Scheme at the time when you assumed care of your {{#eq antallBarn 1}}child{{else}}children{{/eq}}.
    {{/eq}}
{{/if}}
{{~#switch avslagÅrsak}}
    {{#case "SØKER_ER_UTVANDRET"}}
According to the National Registry, you have moved from Norway.
    {{/case}}
    {{#case "SØKER_ER_IKKE_MEDLEM"}}
You are covered by the social security system in another country.
    {{/case}}
    {{#case "SØKER_HAR_IKKE_LOVLIG_OPPHOLD"}}
You do not have a residence permit in Norway.

If you have applied for asylum in Norway, your membership in the National Insurance Scheme is limited, which means that you are not entitled to a lump-sum grant.
    {{/case}}
    {{#case "SØKER_HAR_IKKE_OPPHOLDSRETT"}}
There is no information that indicates that you work or have family who support you in Norway. This implies that you are not entitled to stay in Norway under the EEA Agreement.
    {{/case}}
    {{#case "SØKER_ER_IKKE_BOSATT"}}
You are not considered a member of the National Insurance Scheme, because the periods you stay abroad are longer than the periods you stay in Norway.
    {{/case}}
    {{#case "IKKE_ALENEOMSORG"}}
You are not entitled to a lump-sum grant because you do not have sole care of your {{#eq antallBarn 1}}child{{else}}children{{/eq}}.
    {{/case}}
    {{#case "FAR_HAR_IKKE_OMSORG_FOR_BARNET"}}
You are not entitled to a lump-sum grant because you do not have assumed care of your {{#eq antallBarn 1}}child{{else}}children{{/eq}}.
    {{/case}}
    {{#case "ENGANGSSTØNAD_ALLEREDE_UTBETALT_TIL_MOR"}}
The mother has already received the lump-sum grant and therefore, your application has been turned down.
    {{/case}}
    {{#case "ALLEREDE_UTBETALT_ENGANGSSTØNAD"}}
You have already received the lump-sum grant and therefore, your application has been turned down.
    {{/case}}
    {{#case "ALLEREDE_UTBETALT_FORELDREPENGER"}}
You have already received the parental benefit and therefore, your application has been turned down.
    {{/case}}
    {{#case "SØKT_FOR_SENT"}}
You are not entitled to a lump-sum grant because you did not apply in time. You must apply within six months of the birth or when you assumed care of your {{#eq antallBarn 1}}child{{else}}children{{/eq}}.
{{#if felles.fritekst}}<br/><br/><p style="white-space: pre-wrap">{{felles.fritekst}}</p><br/>{{/if}}
    {{/case}}
    {{#case "OMSORGSOVERTAKELSE_ETTER_56_UKER"}}
You are not entitled to a lump-sum grant because you have not assumed care of the {{#eq antallBarn 1}}child{{else}}children{{/eq}} within 56 weeks after the {{#if gjelderFødsel}}birth{{else }}adoption{{/if}}.
    {{/case}}
    {{#case "SØKT_FOR_TIDLIG"}}
You are not entitled to a lump-sum grant because you have applied too soon. You can apply at the earliest when you are 22 weeks pregnant.
    {{/case}}
    {{#case "EKTEFELLES_SAMBOERS_BARN"}}
You are not entitled to a lump-sum grant because you have adopted the  {{#eq antallBarn 1}}child{{else}}children{{/eq}} of your spouse or cohabiting partner.
    {{/case}}
    {{#case  "BARN_IKKE_RIKTIG_ALDER"}}
You are not entitled to a lump-sum grant because your {{#eq antallBarn 1}}child{{else}}children{{/eq}} had turned 15 when you assumed care for the {{#eq antallBarn 1}}child{{else}}children{{/eq}}.
    {{/case}}
    {{#case "IKKE_BARNETS_FAR" }}
You are not entitled to a lump-sum grant because you are not registered as the {{#eq relasjonsRolle "FARA"}}father{{else}}co-mother{{/eq}} of the {{#eq antallBarn 1}}child{{else}}children{{/eq}}.
    {{/case}}
    {{#case "SØKER_HAR_HATT_VANLIG_SAMVÆR_MED_BARNET"}}
You are not entitled to a lump-sum grant because you have had contact with the {{#eq antallBarn 1}}child{{else}}children{{/eq}} at least one day a week and every other weekend.
    {{/case}}
    {{#case "SØKER_HAR_IKKE_FORELDREANSVAR"}}
You are not entitled to a lump-sum grant because you do not have parental responsibility for your {{#eq antallBarn 1}}child{{else}}children{{/eq}}.
    {{/case}}
    {{#case "IKKE_FORELDREANSVAR_ALENE_ETTER_BARNELOVA"}}
You are not entitled to a lump-sum grant because you do not have sole parental responsibility for your {{#eq antallBarn 1}}child{{else}}children{{/eq}}.
    {{/case}}
    {{#case "MOR_IKKE_DØD_VED_FØDSEL_OMSORG"}}
You are not entitled to a lump-sum grant. Your application has thus been denied.

{{#eq relasjonsRolle "FARA"}}Fathers{{else}}Co-mothers{{/eq}} are only entitled to a lump-sum grant if the {{#eq relasjonsRolle "FARA"}}fathers{{else}}co-mothers{{/eq}} assumes parental responsibility for the {{#eq antallBarn 1}}child{{else}}children{{/eq}} following the mother’s death in connection with the {{#if gjelderFødsel}}birth{{else }}adoption{{/if}}.
    {{/case}}
    {{#case "FØDSELSDATO_IKKE_OPPGITT_ELLER_REGISTRERT"}}
You are not entitled to a lump-sum grant because we do not have any information that the {{#eq antallBarn 1}}child has{{/eq}}{{#eq antallBarn 0}}child has or children have{{/eq}}{{#gt antallBarn 1}}children have{{/gt}} been born.
    {{/case}}
    {{#case "MANGLENDE_DOKUMENTASJON"}}
We have turned down your application because we have not received the documentation we requested.

If you send us the documentation within six weeks, we will process your case again. You will not need to submit a new application.
    {{/case}}
{{/switch}}
{{#each vilkårTyper}}
    {{#eq this "FPVK1_4"}}
This decision has been made pursuant to section 14-17 of the National Insurance Act.
    {{/eq}}
    {{#eq this "FPVK2_FB"}}
This decision has been made pursuant to sections 14-2 and 14-17 of the National Insurance Act.
    {{/eq}}
    {{#eq this "FPVK2_RV"}}
This decision has been made pursuant to sections 14-2 and 14-17 of the National Insurance Act and section 35 of the Public Administration Act.
    {{/eq}}
    {{#eq this "FP_VK_3"}}
This decision has been made pursuant to section 22-13 of the National Insurance Act.
    {{/eq}}
    {{#eq this "FPVK1_4_5_8_RV"}}
This decision has been made pursuant to section 14-17 of the National Insurance Act and section 35 of the Public Administration Act.
    {{/eq}}
    {{#eq this "FP_VK_34"}}
This decision has been made pursuant to section 21-3 of the National Insurance Act.
    {{/eq}}
{{/each}}
<br/>

**You have the right to appeal**<br/>
You may appeal within {{klagefristUker}} weeks from the date you received the decision. You will find the relevant form and information at [nav.no/klage](https://nav.no/klage).
<br/>
<br/>
<br/>
{{> footer_en }}