{{#if andreInntekterSiste10Mnd}}
<div class="no-page-break">

## Other income in the last 10 months

{{#each andreInntekterSiste10Mnd}}
<strong>{{~#switch type~}}
{{~#case "ETTERLØNN_SLUTTPAKKE"~}}Severance pay package{{~/case~}}
{{~#case "ETTERLØNN_ARBEIDSGIVER"~}}Severance pay from employer{{~/case~}}
{{~#case "JOBB_I_UTLANDET"~}}Job abroad{{~/case~}}
{{~#case "LØNN_UNDER_UTDANNING"~}}Salary during education{{~/case~}}
{{~#case "MILITÆR_ELLER_SIVILTJENESTE"~}}Military or civilian service{{~/case~}}
{{~#case "SLUTTPAKKE"~}}Severance package{{~/case~}}
{{~#case "VENTELØNN_VARTPENGER"~}}Waiting salary or severance benefits{{~/case~}}
{{~#case "VENTELØNN"~}}Waiting salary{{~/case~}}
{{~#case "VARTPENGER"~}}Severance benefits{{~/case~}}
{{~/switch~}}</strong>
<ul>
    <li>{{#if arbeidsgiverNavn}}Employer: {{{arbeidsgiverNavn}}}{{/if}}</li>
    <li>Period: {{norwegian-date fom}} – {{#if tom}}{{norwegian-date tom}}{{else}}Ongoing{{/if}}</li>
    <li>{{#if land}}Country where the business is registered: {{land-norsk land}}{{/if}}</li>
</ul>
{{/each}}
</div>
{{/if}}
