<div class="no-page-break">

## Mine arbeidsforhold
Opplysningane er henta frå Arbeidsgivar- og arbeidstakarregisteret (AA-registeret). Desse blei vist i søknaden.{{#if hvisInfoIM}} Nav sjekkar AA-registeret igjen når arbeidsgivar kan sende inn inntektsmeldinga.{{/if}}
{{#if søkerinfo/arbeidsforhold}}
{{#each søkerinfo/arbeidsforhold}}
### {{navn}} ({{orgnummer}})
<ul>
    <li>Periode: {{norwegian-date fom}} – {{#if tom}}{{norwegian-date tom}}{{else}}Pågåande{{/if}}</li>
    <li>Stillingsprosent: {{trim-decimal stillingsprosent}} %</li>
</ul>
{{/each}}
{{else}}
Du er ikkje registrert med nokon arbeidsforhold.
{{/if}}
</div>
<div class="no-page-break">

## Andre inntektskjelder
<ul>
    <li>Har du jobba og hatt inntekt som frilansar dei siste 10 månadene? <strong>{{#if frilans}}Ja{{else}}Nei{{/if}}</strong></li>
    <li>Har du jobba og hatt inntekt som sjølvstendig næringsdrivande dei siste 10 månadene? <strong>{{#if egenNæring}}Ja{{else}}Nei{{/if}}</strong></li>
    <li>Har du hatt andre inntektskjelder dei siste 10 månadene? <strong>{{#if andreInntekterSiste10Mnd}}Ja{{else}}Nei{{/if}}</strong></li>
</ul>
</div>
