<div class="no-page-break">

## Employment
Information is retrieved from the State Register of Employers and Employees (the Aa Register). These were shown in the application.{{#if hvisInfoIM}} Nav will check the Aa Register again when the employer can submit the income report.{{/if}}
{{#if søkerinfo/arbeidsforhold}}
{{#each søkerinfo/arbeidsforhold}}
### {{navn}} ({{orgnummer}})
<ul>
    <li>Period: {{norwegian-date fom}} – {{#if tom}}{{norwegian-date tom}}{{else}}Ongoing{{/if}}</li>
    <li>Employment percentage: {{trim-decimal stillingsprosent}} %</li>
</ul>
{{/each}}
{{else}}
You are not registered with any employment relationships.
{{/if}}
</div>
<div class="no-page-break">

## Other sources of income
<ul>
    <li>Have you worked and earned income as a freelancer in the last 10 months? <strong>{{#if frilans}}Yes{{else}}No{{/if}}</strong></li>
    <li>Have you worked and earned income as self-employed in the last 10 months? <strong>{{#if egenNæring}}Yes{{else}}No{{/if}}</strong></li>
    <li>Have you had other sources of income in the last 10 months? <strong>{{#if andreInntekterSiste10Mnd}}Yes{{else}}No{{/if}}</strong></li>
</ul>
</div>
