{{#if avtaltFerie}}
<div class="no-page-break">

## Informasjon om ferie
<ul>
{{~#each avtaltFerie}}
    <li>
        {{~#with arbeidsforhold}}
        Jeg har avtalt ferie hos
        {{#switch type}}
            {{~#case "virksomhet"}}{{#with (lookup ../tilleggsinformasjon/arbeidsforhold id)}}{{{navn}}} ({{@../id}}){{/with}}{{~/case~}}
            {{~#case "privat"}}privat arbeidsgiver med identifkasjon {{id}}{{~/case~}}
            {{~#case "selvstendig"}}næring{{~/case~}}
            {{~#case "frilanser"~}}frilans{{~/case~}}
        {{/switch}}
        {{/with}} i perioden {{norwegian-date fom}} - {{norwegian-date tom}}
    </li>
{{/each~}}
</ul>
</div>
{{/if}}
