<div class="no-page-break">

## Tilretteleggingsbehov

{{#each tilretteleggingsbehov}}
<div class="no-page-break">

{{#with arbeidsforhold}}
Tilretteleggingsbehov for {{#switch type}}
    {{~#case "virksomhet"}}{{#arbeidsforhold-fra-orgnummer id ../søkerinfo.arbeidsforhold}}{{navn}} ({{orgnummer}}){{/arbeidsforhold-fra-orgnummer}}{{~/case~}}
    {{~#case "privat"}}privat arbeidsgiver {{id}}{{~/case~}}
    {{~#case "selvstendig"}}næring{{~/case~}}
    {{~#case "frilanser"~}}frilans{{~/case~}}
{{/switch}}
{{/with}}
<ul>
    <li>Jeg har behov for tilrettelegging fra og med {{norwegian-date behovForTilretteleggingFom}}</li>
    {{~#each tilrettelegginger~}}
    <li>
        {{~#switch type}}
            {{~#case "hel"~}}Arbeidsgiver kan tilrettelegge fra {{norwegian-date fom}}. Jeg kan jobbe i opprinnelig stillingsprosent.{{~/case~}}
            {{~#case "delvis"~}}Arbeidsgiver kan tilrettelegge fra {{norwegian-date fom}}. Jeg kan jobbe i {{trim-decimal stillingsprosent}} prosent stilling.{{~/case~}}
            {{~#case "ingen"~}}Jeg kan ikke jobbe i min stilling og arbeidsgiver kan ikke tilrettelegge fra {{norwegian-date fom}}.{{~/case~}}
        {{/switch~}}
    </li>
    {{~/each~}}
    <li>{{#if risikofaktorer}}Risikofaktorer: {{risikofaktorer}}{{/if}}</li>
    <li>{{#if tilretteleggingstiltak}}Tilretteleggingstiltak: {{tilretteleggingstiltak}}{{/if}}</li>
</ul>
</div>
{{/each}}
</div>
