{{#if andreInntekterSiste10Mnd}}
<div class="no-page-break">

## Andre inntekter siste 10 måneder

{{#each andreInntekterSiste10Mnd}}
### {{#switch type}}
{{~#case "ETTERLØNN_SLUTTPAKKE"~}}Etterlønn sluttpakke{{~/case~}}
{{~#case "ETTERLØNN_ARBEIDSGIVER"~}}Etterlønn arbeidsgiver{{~/case~}}
{{~#case "JOBB_I_UTLANDET"~}}Jobb i utlandet{{~/case~}}
{{~#case "LØNN_UNDER_UTDANNING"~}}Lønn under utdanning{{~/case~}}
{{~#case "MILITÆR_ELLER_SIVILTJENESTE"~}}Militær- eller siviltjeneste{{~/case~}}
{{~#case "SLUTTPAKKE"~}}Sluttpakke{{~/case~}}
{{~#case "VENTELØNN_VARTPENGER"~}}Ventelønn vartepenger{{~/case~}}
{{~#case "VENTELØNN"~}}Ventelønn{{~/case~}}
{{~#case "VARTPENGER"~}}Vartpenger{{~/case~}}
{{/switch}}
<ul>
    <li>{{#if arbeidsgiverNavn}}Arbeidsgiver: {{arbeidsgiverNavn}}{{/if}}</li>
    <li>Periode: {{norwegian-date fom}} - {{#if tom}}{{norwegian-date tom}}{{else}}Pågående{{/if}}</li>
    <li>{{#if land}}Landet virksomheten er registrert i: {{land-norsk land}}{{/if}}</li> <!-- TODO: Map til land med ny helper-->
</ul>
{{/each}}
</div>
{{/if}}
