<div class="no-page-break">

## Mine arbeidsforhold
Vi har hentet arbeidsforhold fra Arbeidsgiver- og arbeidstakerregisteret.
{{#if søkerinfo/arbeidsforhold}}
{{#each søkerinfo/arbeidsforhold}}
### {{navn}} ({{@key}})
<ul>
    <li>Periode: {{norwegian-date fom}} - {{#if tom}}{{norwegian-date tom}}{{else}}Pågående{{/if}}</li>
    <li>Stillingsprosent: {{stillingsprosent}}%</li>
</ul>
{{/each}}
{{else}}
Du er ikke registrert med noen arbeidsforhold.
{{/if}}
</div>
<div class="no-page-break">

## Andre inntektskilder
<ul>
    <li>Har du jobbet og hatt inntekt som frilanser de siste 10 månedene? {{#if frilans}}Ja{{else}}Nei{{/if}}</li>
    <li>Har du jobbet og hatt inntekt som selvstendig næringsdrivende de siste 10 månedene? {{#if egenNæring}}Ja{{else}}Nei{{/if}}</li>
    <li>Har du hatt andre inntektskilder de siste 10 månedene? {{#if andreInntekterSiste10Mnd}}Ja{{else}}Nei{{/if}}</li>
</ul>
</div>
