{{#with egenNæring}}
<div class="no-page-break">

## Egen næringsvirksomhet
<ul>
    <li>{{#if navnPåNæringen}}Navn på virksomheten: {{{navnPåNæringen}}}{{/if}}</li>
    <li>{{#if organisasjonsnummer}}Organisasjonsnummer: {{organisasjonsnummer}}{{/if}}</li>
    <li>{{#if registrertILand}}Registrert i land: {{land-norsk registrertILand}}{{/if}}</li> <!-- Husk å registrer handlebars helper for mappe CountryCode til getName() -->
    <li>
        Virksomhetstype: {{#switch næringstype}}
            {{~#case "DAGMAMMA"~}}Dagmamma{{~/case~}}
            {{~#case "FISKE"~}}Fisker{{~/case~}}
            {{~#case "JORDBRUK_SKOGBRUK"~}}Jord-/skogsbruk{{~/case~}}
            {{~#case "ANNEN"~}}Annen{{~/case~}}
        {{/switch}}
    </li>
    <li>{{#if tom}}Jeg startet egennæring {{norwegian-date fom}} og sluttet {{norwegian-date tom}}{{else}}Jeg startet egennæring {{norwegian-date fom}} og har forsatt virksomheten{{/if}}</li>
    {{~#eq hattVarigEndringAvNæringsinntektSiste4Kalenderår true~}}
    <li>Varig endring i virksomheten eller arbeidssituasjonen min de siste fire årene: Ja</li>
    <li>Fra {{norwegian-date varigEndringDato}} har jeg varig endring i næringsinntekten, hvor nye næringsinntekt er {{varigEndringInntektEtterEndring}}.</li>
    <li>Årsak til varig endring: {{varigEndringBeskrivelse}}</li>
    {{~else~}}
    <li>Varig endring i virksomheten eller arbeidssituasjonen min de siste fire årene: Nei</li>
    <li>Næringsinntekt: {{næringsinntekt}}</li>
    {{~/eq~}}
    <li>{{#if oppstartsdato}}Virksomheten ble startet: {{norwegian-date oppstartsdato}}{{/if}}</li>
    <li>Er ny i arbeidslivet: {{#if harBlittYrkesaktivILøpetAvDeTreSisteFerdigliknedeÅrene}}Ja{{else}}Nei{{/if}}</li>
</ul>
</div>
{{/with}}
