{{> header }}


{{#eq felles.ytelseType "ES" }}#  NAV vurderer retten din til engangsstønad på nytt
{{else}}{{#eq felles.ytelseType "FP" }}{{#eq advarselKode "JOBBFULLTID" }}# Du må søke om å endre foreldrepengeperioden din{{else}}# NAV vurderer retten din til foreldrepenger på nytt{{/eq}}
{{else}}{{#eq felles.ytelseType "SVP" }}{{#eq advarselKode "JOBBFULLTID" }}# Du må søke om å endre svangerskapspengeperioden din{{else}}# NAV vurderer retten din til svangerskapspenger på nytt{{/eq}}{{/eq}}{{/eq}}{{/eq}}
{{> brukerdetaljer_nb }}

{{#eq advarselKode "BARNIKKEREG" }}
Du hadde termin {{terminDato}}, men {{#eq antallBarn 1}}barnet ditt{{else}}barna dine{{/eq}} er ikke registrert i folkeregisteret. Du må derfor sende oss fødselsattesten innen {{fristDato}}.

Er {{#eq antallBarn 1}}barnet{{else}}barna{{/eq}} født i utlandet, må du opplyse om hvor lenge du har vært i utlandet og om du har planlagt å reise tilbake til Norge.

Du har også rett til å uttale deg om saken innen fristen som er oppgitt.

{{else}}{{#eq advarselKode "ANNET" }}
Vi har fått nye opplysninger som kan ha betydning for retten din til {{> ytelse_navn_nb}}.

<p style="white-space: pre">{{felles.fritekst}}</p>{{/eq}}{{/eq}}

{{#neq felles.ytelseType "ES" }}
{{#eq advarselKode "JOBBFULLTID" }}
Vi har fått opplysninger om at du jobber samtidig som du får {{> ytelse_navn_nb}}. Derfor vurderer vi å stanse {{> ytelse_navn_f_nb}} dine.

Du kan ikke jobbe heltid og samtidig få {{> ytelse_navn_nb}}. For at du ikke skal miste {{> ytelse_navn_f_nb}}, må du søke om utsettelse. Arbeider du deltid, må du søke om å kombinere {{> ytelse_navn_f_nb}} med arbeid.
{{/eq}}
{{#eq advarselKode "IKKEOPPTJENT" }}
Vi har fått opplysninger om at inntekten din var lavere enn et halvt grunnbeløp i året før skatt. Derfor vurderer vi å stanse {{> ytelse_navn_f_nb}} dine.
{{/eq}}
{{#eq advarselKode "UTVANDRET" }}
Vi har fått opplysninger om at du har flyttet fra Norge. Derfor vurderer vi å stanse {{> ytelse_navn_f_nb}} dine.
{{/eq}}
{{#eq advarselKode "JOBBUTLAND" }}
Vi har fått opplysninger om at du jobber i et annet land. Derfor vurderer vi å stanse {{> ytelse_navn_f_nb}} dine.
{{/eq}}
{{#eq advarselKode "IKKEOPPHOLD" }}
Vi har fått opplysninger om at du ikke har lovlig opphold i Norge. Derfor vurderer vi å stanse {{> ytelse_navn_f_nb}} dine.
{{/eq}}{{/neq}}

{{#eq felles.ytelseType "FP" }}
{{#eq advarselKode "JOBB6MND" }}
Vi har fått nye opplysninger som viser at du ikke har jobbet seks måneder før du fikk foreldrepenger. Derfor vurderer vi å stanse foreldrepengene dine.
{{/eq}}
{{#eq advarselKode "AKTIVITET" }}
Vi har fått opplysninger om at moren til {{#eq antallBarn 1}}barnet{{else}}barna{{/eq}} ikke lenger jobber. Derfor vurderer vi å stanse foreldrepengene dine.

Du kan ha rett til foreldrepenger hvis mor:
<ul>
    <li>begynner å jobbe igjen</li>
    <li>studerer på heltid</li>
    <li>deltar i kvalifiseringsprogrammet</li>
    <li>deltar i introduksjonsprogrammet</li>
    <li>er innlagt i helseinstitusjon</li>
    <li>er helt avhengig av hjelp til å ta seg av {{#eq antallBarn 1}}barnet{{else}}barna{{/eq}}</li>
</ul>
{{/eq}}{{/eq}}

{{#eq felles.ytelseType "SVP" }}
{{#eq advarselKode "JOBB6MND" }}
Vi har fått nye opplysninger som viser at du ikke har jobbet fire uker før du fikk svangerskapspenger. Derfor vurderer vi å stanse svangerskapspengene dine.
{{/eq}}
{{#eq advarselKode "JOBBFULLTID" }}
Ønsker du å søke om å endre svangerskapsperioden eller å uttale deg, må du gjøre dette innen {{fristDato}}.

Du kan søke om å endre perioden din på [nav.no](https://nav.no/). Ønsker du å uttale deg kan du gjøre det ved å logge deg inn på [nav.no/dittnav](https://nav.no/dittnav) og velge «Send beskjed til NAV».
{{/eq}}{{/eq}}

{{#if flereOpplysninger}}
Har du flere opplysninger eller ønsker du å uttale deg, må du gjøre dette innen {{fristDato}}.

Du sender uttalelsen din ved å logge deg inn på [nav.no/dittnav](https://nav.no/dittnav) og velge «Send beskjed til NAV». Opplysninger sender du inn på [nav.no/ettersendelse](https://nav.no/ettersendelse).
{{/if}}
{{#eq advarselKode "JOBBFULLTID" }}{{#eq felles.ytelseType "FP" }}
Ønsker du å søke om å endre foreldrepengeperioden eller å uttale deg, må du gjøre dette innen {{fristDato}}.

Du kan søke om å endre perioden din på [nav.no](https://nav.no/). Ønsker du å uttale deg kan du gjøre det ved å logge deg inn på [nav.no/dittnav](https://nav.no/dittnav) og velge «Send beskjed til NAV».
{{/eq}}{{/eq}}

Opplysningsplikten går fram av folketrygdloven §§ 21-3 og 21-4.
<br/>
<br/>

**Vedtaket ditt om {{> ytelse_navn_nb}} kan bli omgjort**
<br/>
Vi vil vurdere saken din på nytt når fristen er gått ut. Dersom du ikke har hatt rett til {{> ytelse_navn_nb}}, kan du bli nødt til å betale tilbake pengene.

Du sender dokumentasjonen til oss på [nav.no/ettersendelser](https://nav.no/ettersendelser).
<br/>
<br/>
{{> footer_nb }}

