# Inntektsmelding {{> fpinntektsmelding-inntektsmelding/ytelseNavn}}
Innsendt: {{opprettetTidspunkt}}. Fra {{arbeidsgiverNavn}}, org nr. {{arbeidsgiverIdent}}
<br>
<br>

### Arbeidsgiver og den ansatte

<br>

#### Kontaktperson fra bedriften
{{kontaktperson.navn}}, {{kontaktperson.telefonnummer}}

#### Den ansatte
{{navnSøker}}, personnummer {{personnummer}}

<hr style="color:#D3D3D3; margin-top: 7mm; margin-bottom: 7mm">

### Første dag med foreldrepenger
{{startDato}}

<hr style="color:#D3D3D3; margin-top: 7mm; margin-bottom: 7mm">

### Månedslønn
Beregnet månedslønn basert på de tre siste, fulle månedene før {{> fpinntektsmelding-inntektsmelding/ytelseNavn}}<br>{{thousand-seperator månedInntekt}} kr

<div style="break-inside: avoid; page-break-inside: avoid">
<hr style="color:#D3D3D3; margin-top: 7mm; margin-bottom: 7mm">

### Refusjon

Skal dere betale lønn til {{fornavnSøker}} og ha refusjon fra NAV?
{{~#if refusjonsbeløp}}
<br>Ja<br>Refusjonsbeløp per måned:<br>{{thousand-seperator refusjonsbeløp}} kr
{{else}}<br>Nei
{{/if}}
Opphører refusjonen i løpet av perioden til {{fornavnSøker}}?
{{~#if refusjonOpphørsdato}}Ja<br>Opphørsdato<br>{{refusjonOpphørsdato}}
{{else}}
<br>Nei
{{/if}}
Vil det være endringer i refusjon i løpet av perioden til {{fornavnSøker}}?
{{~#if endringIrefusjonsperioder.length}}
<br>Ja
{{~#each endringIrefusjonsperioder}}
{{~#if @first}}
<br>
<br>
<table style="width:100%">
<thead>
<tr>
    <th style="width: 33%">Fra</th>
    <th style="width: 33%">Til</th>
    <th style="width: 33%">Refusjonsbeløp</th>
    </tr>
</thead>
</table>
{{/if}}
<table style="width:100%">
<thead>
<tr>
    <th style="width: 33%"></th>
    <th style="width: 33%"></th>
    <th style="width: 33%"></th>
</tr>
</thead>
    <tbody>
    <tr>
    <td>{{fom}}</td>
    <td>{{tom}}</td>
    <td>{{thousand-seperator beloep}}</td>
</tr>
</tbody>
</table>
{{/each}}
{{else}}
<br>Nei
{{/if}}
</div>

<div style="break-inside: avoid; page-break-inside: avoid">
<hr style="color:#D3D3D3; margin-top: 7mm; margin-bottom: 7mm">

### Naturalytelser
{{~#if naturalytelser}}
Er det bortfall av naturalytelser i perioden til {{fornavnSøker}}?
{{~#if ingenBortfaltNaturalytelse}}<br>Nei{{else}}<br>Ja{{/if}}
{{~#each naturalytelser}}
{{~#if erBortfalt}}
{{~#if @first}}
<br>
<br>
<table style="width:100%">
<thead>
    <tr>
        <th style="width: 20%">Fra</th>
        <th style="width: 20%">Til</th>
        <th style="width: 40%">Type</th>
        <th style="width: 20%">Beløp</th>
    </tr>
    </thead>
</table>
{{/if}}
<table style="width:100%">
<thead>
<tr>
    <th style="width: 20%"></th>
    <th style="width: 20%"></th>
    <th style="width: 40%"></th>
    <th style="width: 20%"></th>
</tr>
</thead>
<tbody>
<tr>
    <td>{{fom}}</td>
    <td>{{tom}}</td>
    <td>{{naturalytelseType}}</td>
    <td>{{thousand-seperator beloep}}</td>
</tr>
</tbody>
</table>
{{/if}}
{{/each}}
</div>

<div style="break-inside: avoid; page-break-inside: avoid">
<hr style="color:#D3D3D3; margin-top: 7mm; margin-bottom: 7mm">

### Gjenopptatte naturalytelser

Er det gjenopptatte naturalytelser  i perioden til {{fornavnSøker}}?
{{~#if ingenGjenopptattNaturalytelse}}<br>Nei{{else}}<br>Ja
<br>
<br>
<table style="width:100%">
    <thead>
    <tr>
        <th style="width: 20%">Fra</th>
        <th style="width: 20%">Til</th>
        <th style="width: 40%">Type</th>
        <th style="width: 20%">Beløp</th>
    </tr>
    </thead>
</table>
{{/if}}
{{~#each naturalytelser}}
{{~#eq erBortfalt false}}
<table style="width:100%">
<thead>
    <tr>
        <th style="width: 20%"></th>
        <th style="width: 20%"></th>
        <th style="width: 40%"></th>
        <th style="width: 20%"></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{fom}}</td>
        <td>{{tom}}</td>
        <td>{{naturalytelseType}}</td>
        <td>{{thousand-seperator beloep}}</td>
    </tr>
</tbody>
</table>
{{/eq}}
{{/each}}
{{else}}
Nei
{{/if}}
</div>



