<p align="left">
Innsendt: {{opprettetTidspunkt}}
</p>
<br>
<br>
<br>

# Inntektsmelding for{{~#switch ytelsetype}}{{#case "FORELDREPENGER"}} foreldrepenger{{/case}}{{#case "SVANGERSKAPSPENGER"}} svangerskapspenger{{/case}}{{#case "PLEIEPENGER_SYKT_BARN"}} pleiepenger sykt barn{{/case}}{{#case "OPPLÆRINGSPENGER"}} pleiepenger nærtstående{{/case}}{{#case "PLEIEPENGER_NÆRSTÅENDE"}} opplæringspenger{{/case}}{{#case "OMSORGSPENGER"}} omsorgspenger{{/case}}{{/switch}}

#### Den ansatte
<table style="width:100%">
<tr>
    <th style="width: 60%">Navn</th>
    <th style="width: 40%">Personnummer</th>
</tr>
<tr>
    <td>{{navnSøker}}</td>
    <td>{{personnummer}}</td>
</tr>
</table>

<span style="color: lightgray">
<br>___________________________________________________________________________________________________________________________________________________________________________________________________
</span>

#### Arbeidsgiveren
<table style="width:100%">
    <tr>
    <th style="width: 60%">Navn på virksomheten</th>
    <th style="width: 40%">Organisasjonsnummer</th>
</tr>
<tr>
    <td>{{arbeidsgiverNavn}}</td>
    <td>{{arbeidsgiverIdent}}</td>
</tr>
</table>
<table style="width:100%">
<tr>
    <th style="width: 60%">Innsender</th>
    <th style="width: 40%">Telefonnummer</th>
</tr>
<tr>
    <td>{{kontaktperson.navn}}</td>
    <td>{{kontaktperson.telefonnummer}}</td>
</tr>
</table>

<span style="color: lightgray">
<br>___________________________________________________________________________________________________________________________________________________________________________________________________
</span>

#### Startdato permisjon: {{startDato}}

#### Beregnet månedslønn per {{startDato}}: {{thousand-seperator månedInntekt}}

<div style="break-inside: avoid; page-break-inside: avoid">
<span style="color: lightgray">
___________________________________________________________________________________________________________________________________________________________________________________________________
</span>

#### Refusjon

Betaler arbeidsgiver lønn under hele eller deler av fraværet?
{{~#if refusjonsbeløp}}
 **Ja**<br>Refusjonsbeløp: **{{thousand-seperator refusjonsbeløp}}**
{{else}}<br>**Nei**
{{/if}}
Opphører refusjonskravet i perioden?
{{~#if refusjonOpphørsdato}}
 **Ja**<br>Opphørsdato: **{{refusjonOpphørsdato}}**
{{else}}
<br>**Nei**
{{/if}}
Endringer i refusjon i perioden?
{{~#if endringIrefusjonsperioder.length}}
 **Ja**
{{~#each endringIrefusjonsperioder}}
{{~#if @first}}
<br>
<br>
<table style="width:100%">
<thead>
<tr>
    <th style="width: 33%">Fra</th>
    <th style="width: 33%">Til</th>
    <th style="width: 33%">Refusjonsbeløp</th>
    </tr>
</thead>
</table>
{{/if}}
<table style="width:100%">
<thead>
<tr>
    <th style="width: 33%"></th>
    <th style="width: 33%"></th>
    <th style="width: 33%"></th>
</tr>
</thead>
    <tbody>
    <tr>
    <td>{{fom}}</td>
    <td>{{tom}}</td>
    <td>{{thousand-seperator beloep}}</td>
</tr>
</tbody>
</table>
{{/each}}
{{else}}
<br> **Nei**
{{/if}}
</div>

<div style="break-inside: avoid; page-break-inside: avoid">
<span style="color: lightgray">
<br>___________________________________________________________________________________________________________________________________________________________________________________________________
</span>

#### Bortfall av naturalytelser
{{~#if naturalytelser}}
Er det bortfall av naturalytelser i perioden?
{{~#if ingenBortfaltNaturalytelse}} **Nei**{{else}} **Ja**{{/if}}
{{~#each naturalytelser}}
{{~#if erBortfalt}}
{{~#if @first}}
<br>
<br>
<table style="width:100%">
<thead>
    <tr>
        <th style="width: 40%">Type</th>
        <th style="width: 20%">Fra</th>
        <th style="width: 20%">Til</th>
        <th style="width: 20%">Beløp</th>
    </tr>
    </thead>
</table>
{{/if}}
<table style="width:100%">
<thead>
<tr>
    <th style="width: 40%"></th>
    <th style="width: 20%"></th>
    <th style="width: 20%"></th>
    <th style="width: 20%"></th>
</tr>
</thead>
<tbody>
<tr>
    <td>{{naturalytelseType}}</td>
    <td>{{fom}}</td>
    <td>{{tom}}</td>
    <td>{{thousand-seperator beloep}}</td>
</tr>
</tbody>
</table>
{{/if}}
{{/each}}
</div>

<div style="break-inside: avoid; page-break-inside: avoid">
<span style="color: lightgray">
<br>___________________________________________________________________________________________________________________________________________________________________________________________________
</span>

#### Gjenopptatte naturalytelser

Er det gjenopptatte naturalytelser  i perioden?
{{~#if ingenGjenopptattNaturalytelse}} **Nei**{{else}} **Ja**
<br>
<br>
<table style="width:100%">
    <thead>
    <tr>
        <th style="width: 40%">Type</th>
        <th style="width: 20%">Fra</th>
        <th style="width: 20%">Til</th>
        <th style="width: 20%">Beløp</th>
    </tr>
    </thead>
</table>
{{/if}}
{{~#each naturalytelser}}
{{~#eq erBortfalt false}}
<table style="width:100%">
<thead>
    <tr>
        <th style="width: 40%"></th>
        <th style="width: 20%"></th>
        <th style="width: 20%"></th>
        <th style="width: 20%"></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{naturalytelseType}}</td>
        <td>{{fom}}</td>
        <td>{{tom}}</td>
        <td>{{thousand-seperator beloep}}</td>
    </tr>
</tbody>
</table>
{{/eq}}
{{/each}}
{{else}}
 **Nei**
{{/if}}
</div>



