<div class="align"> <p> Innsendt: {{opprettetTidspunkt}}</p></div>
<br>
<br>
<br>

# Inntektsmelding {{> fpinntektsmelding-inntektsmelding/ytelseNavn}}

**Arbeidsgiver**
<br>{{arbeidsgiverNavn}}, org.nr. {{arbeidsgiverIdent}}

**Den ansatte**
<br>{{navnSøker}}, personnummer {{personnummer}}

**Kontaktperson fra bedriften**
<br>{{kontaktperson.navn}}, {{kontaktperson.telefonnummer}}

<hr>

#### Første dag med {{> fpinntektsmelding-inntektsmelding/ytelseNavn}}
{{startDato}}

<hr>

#### Beregnet Månedslønn
{{#if endringsarsaker.length}}Endret til: {{thousand-seperator-double månedInntekt}} kr
<br><br>**Hva er årsaken til endringen?**
{{~#each endringsarsaker}}
* {{arsak}} {{#if (and fom tom)}}: {{fom}} - {{tom}} {{else if fom}}: fra og med {{fom}} {{#if bleKjentFra}} , ble kjent fra og med {{bleKjentFra}}{{/if}}{{else}}{{/if}}
{{/each}}
{{else}}{{thousand-seperator-double månedInntekt}} kr
{{/if}}

<hr>

#### Utbetaling og refusjon
**Betaler dere {{fornavnSøker}} lønn under fraværet og krever refusjon**?
{{~#if refusjonsendringer}}
<br>Ja, men kun deler av perioden eller varierende beløp<br><br>**Refusjonsbeløp dere krever per måned**
{{~#each refusjonsendringer}}
- Fra og med {{fom}}: {{thousand-seperator-double beloep}} kr
{{/each}}
{{else if refusjonsbeløp}}<br>Ja, likt beløp i hele perioden<br><br>**Refusjonsbeløp dere krever per måned**<br>{{thousand-seperator-double refusjonsbeløp}} kr
{{else}}<br>Nei
{{/if}}

<hr>

#### Naturalytelser
{{~#if naturalytelser}}
**Har {{fornavnSøker}} naturalytelser som faller bort ved fraværet?**
{{~#if ingenBortfaltNaturalytelse}}<br>Nei{{else}}<br>Ja<br><br>**Naturalytelser som faller bort**{{/if}}
{{~#each naturalytelser}}
{{~#if erBortfalt}}
* {{naturalytelseType}}, verdi {{thousand-seperator-double beloep}} kr: fra og med {{fom}}
{{/if}}
{{/each}}
<br>**Vil {{fornavnSøker}} ha naturalytelser som kommer tilbake i løpet av fraværet?**
{{~#if ingenGjenopptattNaturalytelse}}<br>Nei{{else}}<br>Ja
<br><br>**Naturalytelser som kommer tilbake**{{/if}}
{{~#each naturalytelser}}
{{~#eq erBortfalt false}}
* {{naturalytelseType}}, verdi {{thousand-seperator-double beloep}} kr: fra og med {{fom}}
{{/eq}}
{{/each}}
{{else}}
Nei
{{/if}}



