<div class="no-page-break">

## Your plan
{{#if saksnummer~}}
You applied for a change from {{norwegian-date uttaksplan.uttaksperioder.0.fom}}{{#if dekningsgrad}} with {{dekningsgrad}} per cent coverage{{/if}}. The plan shows only the changes you have applied for and not what you were previously granted.
{{~else~}}
{{#if dekningsgrad}}You applied for {{dekningsgrad}} per cent parental benefit.{{/if}}
{{~/if}}
{{#if ønskerJustertUttakVedFødsel}}The period starting at the due date will be changed to start from the birth date when the child is born: {{#eq ønskerJustertUttakVedFødsel true}}Yes{{else}}No{{/eq}}{{/if}}
</div>

{{~#*inline "konto-formater"~}}
{{#switch konto}}
  {{~#case "FEDREKVOTE"~}}{{#if (and (neq brukFedrekvote true) (eq ../rolle "MEDMOR"))}}Co-mother quota{{else}}Paternal quota{{/if}}{{~/case~}}
  {{~#case "MØDREKVOTE"~}}Maternal quota{{~/case~}}
  {{~#case "FELLESPERIODE"~}}Shared period{{~/case~}}
  {{~#case "FORELDREPENGER_FØR_FØDSEL"~}}Parental benefit before birth{{~/case~}}
  {{~#case "FORELDREPENGER"~}}Parental benefit{{~/case~}}
{{/switch}}
{{~/inline~}}

{{~#*inline "mors-aktivitet"~}}
    {{#switch morsAktivitetIPerioden}}
        {{~#case "ARBEID"~}}Work{{~/case~}}
        {{~#case "UTDANNING"~}}Education{{~/case~}}
        {{~#case "KVALPROG"~}}Qualification programme{{~/case~}}
        {{~#case "INTROPROG"~}}Introduction programme{{~/case~}}
        {{~#case "TRENGER_HJELP"~}}Needs help{{~/case~}}
        {{~#case "INNLAGT"~}}Admitted to healthcare institution{{~/case~}}
        {{~#case "ARBEID_OG_UTDANNING"~}}Work and education{{~/case~}}
        {{~#case "UFØRE"~}}Disability benefits{{~/case~}}
        {{~#case "IKKE_OPPGITT"~}}Not specified{{~/case~}}
    {{/switch}}
{{~/inline~}}

{{#with uttaksplan}}
{{#each uttaksperioder}}
<div class="no-page-break">
{{#if (and (eq type "utsettelse") (eq årsak "FRI") (eq morsAktivitetIPerioden undefined))}}
<strong>Period without withdrawal {{norwegian-date fom}} - {{norwegian-date tom}}</strong>
{{else if (and konto (eq type "overføring"))}}
<strong>Transfer of {{> konto-formater brukFedrekvote=true}} {{norwegian-date fom}} - {{norwegian-date tom}} ({{antall-virkedager fom tom}} business days)</strong>
{{else if konto}}
<strong>{{> konto-formater}} {{norwegian-date fom}} - {{norwegian-date tom}} ({{antall-virkedager fom tom}} business days)</strong>
{{else}}
<strong>Postponement {{norwegian-date fom}} - {{norwegian-date tom}}</strong>
{{/if}}
<ul style="margin-top: -10px;">
    <!-- Uttaksperiode spesifikke attributter -->
    <li>{{#if (and konto morsAktivitetIPerioden)}}Which part of the parental benefit is taken out: {{> konto-formater}} {{#eq morsAktivitetIPerioden "IKKE_OPPGITT"}}without{{else}}with{{/eq}} activity requirement{{/if}}</li>
    <li>{{#if (and morsAktivitetIPerioden (neq morsAktivitetIPerioden "IKKE_OPPGITT"))}}Mother's activity during the period: {{> mors-aktivitet}}{{/if}}</li>
    <li>{{> utils/sporsmal-svar-yes-no value=ønskerSamtidigUttak label="Should the other parent receive parental benefit in the same period"}}</li>
    <li>{{#if samtidigUttakProsent}}Your percentage of parental benefit: {{trim-decimal samtidigUttakProsent}}{{/if}}</li>
    <li>{{> utils/sporsmal-svar-yes-no value=ønskerFlerbarnsdager label="Should use multiple-child days"}}</li>
    <!-- Gradering -->
    <li>{{> utils/sporsmal-svar-yes-no value=ønskerGradering label="Should combine parental benefit with work"}}</li>
{{~#with gradering}}
    <li>{{#eq erArbeidstaker true}}{{#each orgnumre}}Where you will work: {{#arbeidsforhold-fra-orgnummer this ../søkerinfo.arbeidsforhold}}{{navn}} ({{orgnummer}}){{/arbeidsforhold-fra-orgnummer}}{{/each}}{{/eq}}</li><!-- TODO: Always orgnumre.[0] too.. -->
    <li>{{#eq erFrilanser true}}Working as: Freelancer{{/eq}}</li>
    <li>{{#eq erSelvstendig true}}Working as: Self-employed{{/eq}}</li>
    <li>{{#if stillingsprosent}}Specified employment percentage: {{trim-decimal stillingsprosent}}{{/if}}</li>
{{/with~}}
    <!-- Overføring -->
    <li>
        {{~#eq type "overføring"}}
        Reason for quota transfer: {{#switch årsak}}
        {{~#case "INSTITUSJONSOPPHOLD_ANNEN_FORELDER"~}}Other parent is admitted to a healthcare institution{{~/case~}}
        {{~#case "SYKDOM_ANNEN_FORELDER"~}}Other parent is too sick to take care of the child{{~/case~}}
        {{~#case "ALENEOMSORG"~}}Sole custody{{~/case~}}
        {{~#case "IKKE_RETT_ANNEN_FORELDER"~}}Other parent is not entitled to parental benefit{{~/case~}}
        {{/switch}}
        {{/eq~}}
    </li>
    <!-- Opphold -->
    <li>
        {{~#if (and (eq type "opphold") (neq årsak "INGEN"))}}
        Reason for stay: {{#switch årsak}}
            {{~#case "UTTAK_MØDREKVOTE_ANNEN_FORELDER"~}}The other parent will take out their own quota{{~/case~}}
            {{~#case "UTTAK_FEDREKVOTE_ANNEN_FORELDER"~}}The other parent will take out their own quota{{~/case~}}
            {{~#case "UTTAK_FORELDREPENGER_ANNEN_FORELDER"~}}The other parent will take parental benefit{{~/case~}}
            {{~#case "UTTAK_FELLESP_ANNEN_FORELDER"~}}The other parent will take the shared period{{~/case~}}
        {{/switch}}
        {{/if~}}
    </li>
    <!-- Utsettelse -->
    <li>
        {{~#if (and (eq type "utsettelse") (neq årsak "FRI"))}}
        Reason for postponement: {{#switch årsak}}
            {{~#case "ARBEID"~}}Work{{~/case~}}
            {{~#case "LOVBESTEMT_FERIE"~}}Statutory holiday{{~/case~}}
            {{~#case "SYKDOM"~}}I am too sick to take care of the child{{~/case~}}
            {{~#case "INSTITUSJONSOPPHOLD_SØKER"~}}I am admitted to a healthcare institution{{~/case~}}
            {{~#case "INSTITUSJONSOPPHOLD_BARNET"~}}The child is admitted to a healthcare institution{{~/case~}}
            {{~#case "HV_OVELSE"~}}Exercise in the Home Guard{{~/case~}}
            {{~#case "NAV_TILTAK"~}}Allowance from Nav{{~/case~}}
        {{/switch}}
        {{/if~}}
    </li>
    <li>
        {{~#if (and (eq årsak "LOVBESTEMT_FERIE") (eq type "utsettelse"))}}Will work as an employee: <strong>{{#eq erArbeidstaker true}}Yes{{else}}No{{/eq}}</strong>{{/if~}}
    </li>
</ul>
</div>
{{/each}}
{{/with}}
