{{> header_en }}


{{#eq felles.ytelseType "ES" }}# Nav considers reprocessing your case regarding entitlement to a lump-sum grant
{{else}}{{#eq felles.ytelseType "FP" }}{{#eq advarselKode "JOBBFULLTID" }}# You must apply to change your parental benefit period{{else}}# Nav considers reprocessing your case regarding entitlement to parental benefit{{/eq}}
{{else}}{{#eq felles.ytelseType "SVP" }}{{#eq advarselKode "JOBBFULLTID" }}# You must apply to change your pregnancy benefit period{{else}}# Nav considers reprocessing your case regarding entitlement to pregnancy benefit{{/eq}}{{/eq}}{{/eq}}{{/eq}}

{{#eq advarselKode "BARNIKKEREG" }}
You were expecting {{terminDato}}, but {{#eq antallBarn 1}}your child is{{else}}your children are{{/eq}} not in the National Registry. You will have to send us a birth certificate before {{fristDato}}.

If {{#eq antallBarn 1}}the child is{{else}}the children are{{/eq}} born in another country, you will need to inform us about the duration of your stay abroad, and whether you are planning to come back to Norway.

You are entitled to make a statement before the given deadline.

{{else}}{{#eq advarselKode "ANNET" }}
We have received new information that may influence the decision on your entitlement to the {{> ytelse_navn_en}}.

<p style="white-space: pre-wrap">{{felles.fritekst}}</p>{{/eq}}{{/eq}}

{{#neq felles.ytelseType "ES" }}
{{#eq advarselKode "JOBBFULLTID" }}
We have received information that you are working while receiving {{> ytelse_navn_en}}. We are therefore considering stopping your benefit payments.

You cannot work full-time while receiving {{> ytelse_navn_en}}. If you work part-time, you can apply to combine the benefit with work.
{{/eq}}
{{#eq advarselKode "IKKEOPPTJENT" }}
We have received information that your income was lower than half the National Insurance basic amount per year before taxes. We are therefore considering stopping your benefit payments.
{{/eq}}
{{#eq advarselKode "UTVANDRET" }}
We have received information that you have moved from Norway. We are therefore considering stopping your benefit payments.
{{/eq}}
{{#eq advarselKode "JOBBUTLAND" }}
We have received information that you are working in another country. We are therefore considering stopping your benefit payments.
{{/eq}}
{{#eq advarselKode "IKKEOPPHOLD" }}
We have received information that you do not have legal residence in Norway. We are therefore considering stopping your benefit payments.
{{/eq}}{{/neq}}

{{#eq felles.ytelseType "FP" }}
{{#eq advarselKode "JOBB6MND" }}
We have received new information showing that you have not worked for six months before you received parental benefit. We are therefore considering stopping your parental benefit.
{{/eq}}
{{#eq advarselKode "AKTIVITET" }}
We have received information that the mother of {{#eq antallBarn 1}}the child{{else}}the children{{/eq}} is no longer working. We are therefore considering stopping your parental benefit.

You may be entitled to parental benefit if the mother:
<ul>
    <li>starts working again</li>
    <li>studies full-time</li>
    <li>participates in a qualification programme</li>
    <li>participates in an introduction programme</li>
    <li>is admitted to a health care institution</li>
    <li>is completely dependent on help to take care of {{#eq antallBarn 1}}the child{{else}}the children{{/eq}}</li>
</ul>
{{/eq}}{{/eq}}

{{#eq felles.ytelseType "SVP" }}
{{#eq advarselKode "JOBB6MND" }}
We have received new information showing that you have not worked for four weeks before you received pregnancy benefit. We are therefore considering stopping your pregnancy benefit.
{{/eq}}
{{#eq advarselKode "JOBBFULLTID" }}
If you wish to apply to change your pregnancy benefit period or make a statement, you must do so before {{fristDato}}.

You can apply to change your period at [nav.no](https://nav.no/). If you wish to make a statement, you can do so by logging in and choosing «Write to us» at [nav.no/skriv-til-oss](https://www.nav.no/skriv-til-oss).
{{/eq}}{{/eq}}

{{#if flereOpplysninger}}
If you have further information or wish to make a statement, you must do so before {{fristDato}}.

You can make a statement by logging in and choosing «Write to us» at [nav.no/skriv-til-oss](https://www.nav.no/skriv-til-oss). You can send information at [nav.no/ettersendelser](https://nav.no/ettersendelser).
{{/if}}
{{#eq advarselKode "JOBBFULLTID" }}{{#eq felles.ytelseType "FP" }}
If you wish to apply to change your parental benefit period or make a statement, you must do so before {{fristDato}}.

You can apply to change your period at [nav.no](https://nav.no/). If you wish to make a statement, you can do so by logging in and choosing «Write to us» at [nav.no/skriv-til-oss](https://www.nav.no/skriv-til-oss).
{{/eq}}{{/eq}}

Your duty to give information is pursuant to sections 21‑3 and 21‑4 of the National Insurance Act.

## The decision about your {{> ytelse_navn_en}} can be reversed
We will consider your case again after the deadline has been reached. If you are not entitled to the {{> ytelse_navn_en}}, you may be required to repay the money.

You can send us information at [nav.no/ettersendelser](https://nav.no/ettersendelser).

{{> footer_en }}

